<!-- TODO: Replace table to table component when https://github.com/angular/material/issues/796 will closed -->
<div class="table-responsive-vertical md-whiteframe-z1">

    <h1>
        Pedido: {{vm.pedido.status}}
    </h1>

    <div>
        <md-button class="md-raised md-active" ng-click="vm.abrirPedido()"
                   ng-show="vm.pedido.status == 'closed'">
            Abrir pedido
        </md-button>
        <md-button class="md-raised md-warn" ng-click="vm.cerrarPedido()"
                   ng-show="vm.pedido.status == 'in_progress'">
            Cerrar pedido
        </md-button>
    </div>

    <div ng-show="vm.pedido.status == 'in_progress'">
        <ul style="list-style: none;">
            <li ng-repeat="empanadaTipo in vm.pedido.available_types track by $index" style="display: inline-block;">
                <md-button class="md-raised md-accent" ng-click="vm.pedir(empanadaTipo)">
                    {{empanadaTipo}}
                </md-button>
            </li>
        </ul>
    </div>

    <h2 ng-show="vm.pedido.status == 'in_progress'">
        Hasta ahora pedimos...
    </h2>

    <h2 ng-show="vm.pedido.status == 'closed'">
        La última vez pedimos...
    </h2>
    <table id="table" class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Gusto</th>
            <th>Cantidad</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="pedidoItem in vm.pedido.items track by $index">
            <td data-title="Issue">{{pedidoItem.name}}</td>
            <td data-title="Issue">{{pedidoItem.quantity}}</td>
        </tr>
        </tbody>
    </table>
</div>
